/* Container */

.App {
  background-color: #121212;
  /* Dark background color */
  color: #fff;
  /* Light text color */
  padding: 20px;
}

/* Column */
.column {
  background-color: #1f1f1f;
  /* Darker column background */
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  /* Add a subtle box shadow */
}

/* Headers */
.header {
  font-size: 24px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.header-board {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Cards */
.cards {
  list-style: none;
  padding: 0;
}

.card {
  background-color: #333;
  /* Dark card background */
  border: 1px solid #1f1f1f;
  /* Slightly darker border */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* Add a subtle card shadow */
}

.card h3 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
  color: #fff;
  /* Light text color */
}

.card p {
  font-size: 14px;
  color: #ccc;
  /* Lighter text color */
  margin-bottom: 10px;
}

/* Edit Mode */
.editing {
  background-color: #292929;
  /* Slightly darker edit mode background */
}

/* Input Fields */
input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #555;
  /* Darker border color */
  border-radius: 3px;
  background-color: #292929;
  /* Dark input background */
  color: #fff;
  /* Light text color */
}

/* Buttons */
button {
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  /* Primary button color */
  color: #fff;
  /* Light text color */
}

button:hover {
  background-color: #0056b3;
  /* Darker button color on hover */
}

/* Add Task Button */
.card-input button {
  background-color: #007bff;
}

.card-input button:hover {
  background-color: #0056b3;
}

.card-content {
  flex-grow: 1;
  /* Allow the content to expand to fill the card */
}

/* Edit Button */
.edit-button {
  background-color: #28a745;
  color: #fff;
  margin-right: 5px;
  /* Add right margin to the Edit button */
}

.edit-button:hover {
  background-color: #1e7e34;
}

/* Delete Button */
.delete-button {
  background-color: #dc3545;
  color: #fff;
  margin-left: 5px;
  /* Add left margin to the Delete button */
}

.delete-button:hover {
  background-color: #bd2130;
}

/* Media Query for Small Screens (Mobile) */
@media (max-width: 768px) {

  /* Adjust padding and font sizes for mobile */
  .App {
    padding: 10px;
  }

  .column {
    margin-bottom: 10px;
    padding: 0;
  }

  .header {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .header-board {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .card {
    margin-bottom: 10px;
  }

  .card h3 {
    font-size: 19px;
  }

  .card p {
    font-size: 16px;
  }

  input[type="text"] {
    width: 96%;
    padding: 5px;
    margin-bottom: 5px;
  }
}